.nav{
	display: flex;
	align-items: center;
	gap: 20px;
}
li,a {
	list-style: none;
	color: black;
	display: inline-block;
	font-size: large;
	font-weight: bold;
}
.homelogo{
	height: 100px;
	width: 150px;
}

.cal2 img{
	height: 400px;
	width: 650px;
}
form input{
	border-radius: 50px;
	height: 40px;
}
button{
	color: white;
	background-color: blue;
	height: 40px;
	border-radius: 50px;
}
.content{
	background-color: ghostwhite;
	height: 200px;
	margin-top: 20px;
}
.subscribers{
	align-items: center;
}
.partners{
	background-color: ghostwhite;
	display: flex;
	justify-content: space-between;
}
.partners div{
	width: 80px;
	height: 50px;
}
.guide{
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}
.number{
	width: 25px;s
	height: 25px;
	background-color: blue;
	color: white;
	display: flex;
	justify-content: center;
	border-radius: 50%;
	float: left;
}